@font-face {
    font-family: 'Sono';
    src: url('../../asset/fonts/Sono/Sono-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sono';
    src: url('../../asset/fonts/Sono/Sono-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sono';
    src: url('../../asset/fonts/Sono/Sono-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sono';
    src: url('../../asset/fonts/Sono/Sono-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sono';
    src: url('../../asset/fonts/Sono/Sono-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sono';
    src: url('../../asset/fonts/Sono/Sono-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sono';
    src: url('../../asset/fonts/Sono/Sono-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
